@model Hff.MVC.Models.ListViewModels.SaleProcessListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover table-bordered">
    <tr>
        <th>Satış Numarası</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Toplam</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model.SalesProcesses)
    {
        <tr>
            <td>@item.SaleId</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Customer.CustomerName @item.Customer.CustomerSurname</td>
            <td>@item.Employee.EmployeeName @item.Employee.EmployeeSurname</td>
            <td>@item.Price</td>
            <td>@item.Total</td>
            <td><a class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<br />
<a href="/Sales/ToSell" class="btn btn-outline-primary">Satış Yap</a>
