
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Hff.Entities.Concrete.SalesProcess>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-hover table-bordered">
    <tr>
        <th>Satış Numarası</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Toplam</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SaleId</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Customer.CustomerName @item.Customer.CustomerSurname</td>
            <td>@item.Employee.EmployeeName @item.Employee.EmployeeSurname</td>
            <td>@item.Price</td>
            <td>@item.Total</td>
            <td>
                <a href="/Sales/Update/@item.SaleId" class="btn btn-success">Güncelle</a>
                <a href="/Sales/Detail/@item.SaleId" class="btn btn-info">Detaylar</a>
            </td>
        </tr>
    }
</table>
<br />
@Html.PagedListPager((IPagedList)Model,pageIndex=>Url.Action("Index",new { pageIndex }))
<a href="/Sales/ToSell" class="btn btn-outline-primary">Satış Yap</a> <a href="/Sales/PdfToIndex" class="btn btn-link">Yazdır</a>
