@model Hff.MVC.Models.ViewModels.ProductAddViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form class="form-group" method="post">
    <label>Ürün Adı:</label>
    @Html.TextBoxFor(p => p.ProductName, new { @class = "form-control" })
    <br />
    <label>Markası:</label>
    @Html.TextBoxFor(p => p.TradeMark, new { @class = "form-control" })
    <br />
    <label>Kategori:</label>
    @Html.DropDownListFor(p=>p.CategoryId, (List<SelectListItem>)ViewBag.Items, new { @class = "form-control" })
    <br />
    <label>Stok Sayısı:</label>
    @Html.TextBoxFor(p => p.Stock, new { @class = "form-control" })
    <br />
    <label>Alış Fiyatı:</label>
    @Html.TextBoxFor(p => p.PurchasePrice, new { @class = "form-control" })
    <br />
    <label>Satış Fiyatı:</label>
    @Html.TextBoxFor(p => p.SalePrice, new { @class = "form-control" })
    <br />
    <label>Statüler</label>
    @Html.DropDownListFor(p=>p.Status, new SelectList(ViewBag.Status, "Value", "Text"), "Statü Seçiniz", new { @class = "form-control" })
    <br />
    <label>Resim:</label>
    @Html.TextBoxFor(p => p.Picture, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Ekle</button>
</form>
